{% extends "_base.html" %}

{% block body %}

<div class="container">

	    	<div class="container-fluid px-0">
	    		<div class="row d-flex">
	    			<div class="col-md-4 d-flex">
	    				<img src="/images/drew1.jpg">
	    			</div>
	    			<div class="col-md-8 d-flex align-items-center">
	    				<div class="text px-4 pt-5 pt-md-0 px-md-4 pr-md-5 ftco-animate">
		            <h2 class="mb-4">{{this.title}}</h2>
		            {{this.body}}
	            </div>
		        </div>
	        </div>
	    	</div>

    {% include 'footer.html' %}
    
</div>

{% endblock %}
