{% extends "_base.html" %}

{% block body %}

<div class="container">
  <div class="row d-flex">
    <div class="col-xs-12 col-md-8">
    <h2 class="text text-2 pl-md-4 mb-2">{{ this.title }}</h2>
<main>
    <h3 class="text text-2 pl-md-4 mb-2">{{ this.description }}</h3>
    <div class="text text-2 pl-md-4 mb-2">{{this.body}}</div>
</main>
    <br>

      {% for item in this.content %}
        {% include "mystery_item.html" %}
      {% endfor %}
      
    {% include "pagination.html" %}      
    </div>
    
	<div class="col-md-4 sidebar ftco-animate bg-light pt-5">
      {% include "sidebar_series.html" %}
      {% set categories=('*' | category) %}
      {% include "sidebar_categories.html" %}
      {% include "sidebar_authors.html" %}
    </div><!-- END COL -->

  </div>
  
    {% include 'footer.html' %}
    
</div>

{% endblock %}
