{% extends "page.html" %}

{% block sidebar %}
{% endblock %}

{% block body %}

<main>
<h1>{{ this.title }}</h1>
<h2>{{ this.description }}</h2>
<h2><a href="{{ url_prefix + '/authors/' + this.author + '.html'}}">Author: {{ (this.author | author).name }}</a></h2>
<h2>

Categories

{% for item in this.categories %}
{% set category = item | category %}
<h3><a href="{{category.url}}">{{category.title}}</a></h3>
{% endfor %}

</h2>
</main>
<img src="{{ url_prefix + '/images/' + this.thumbnail.image }}" alt="{{ this.thumbnail.alt }}" title="{{ this.thumbnail.tooltip }}">

<script type="text/javascript">
function addToCart()
{
    // This hackish technique prevents the history from being modified 
    // when we reload the iframe
    var iframe = $("#cart");
    var container = iframe.parent();
    
    iframe.remove ();
    iframe.attr('src', 'https://UDH2QNLLEDLTFMIL.anvil.app/4W3FIEIA5OG2LESXZYPWPAJ4#?page=addtocart&item={{this.mystery_id}}');
    
    container.append(iframe);
}
</script>

<button type="button" onclick="addToCart()">Add To Cart</button><br>
<form action="../checkout.html"><input type="submit" value="Checkout"></form>


<script src="https://anvil.works/embed.js" async></script>

<iframe id="cart" scrolling="no" data-anvil-embed src="https://UDH2QNLLEDLTFMIL.anvil.app/4W3FIEIA5OG2LESXZYPWPAJ4#?page=cart" style="border: 0px none; margin-left: 0px;  margin-top: 0; width: 300px;" name="cart">
</iframe>

{% endblock %}

