{% extends "page.html" %}

{% block sidebar %}
{% endblock %}

{% block content %}

<main>
<h2>{{ this.description }}</h2>
<h2><a href="{{ url_prefix + '/authors/' + this.author + '.html'}}">Author: {{ (this.author | author).name }}</a></h2>
<h2>

Categories

{% for item in this.categories %}
{% set category = item | category %}
<h3><a href="{{category.url}}">{{category.title}}</a></h3>
{% endfor %}

</h2>

    <div class="col-md-3 text-center item">
      <img src="{{ url_prefix + '/images/' + this.thumbnail.image }}" alt="{{ this.thumbnail.alt }}" title="{{ this.thumbnail.tooltip }}">
      <br>
      {{this.title}} - <strong>{{this.price | priceformat}}</strong>
      <br>
      <button class="btn btn-danger add-to-cart" data-id="{{this.mystery_id}}" data-name="{{this.title}}" data-price="{{this.price}}">Add to Cart</button>
    </div>
    
    {% if this.testimonials %}
    <div>
    <h2>Customer Testimonials</h2>
    {% for item in this.testimonials %}
    <div>
    <h3>{{item.name}}</h3>
    {{item.comment}}
    </div>
    {% endfor %}    
    </div>
    {% endif %}
    
</main>

{% endblock %}

