{% extends "_base.html" %}

{% block body %}

<div class="container">
  <div class="row d-flex">
    <div class="col-xs-12 col-md-8">
    <h2 class="text text-2 pl-md-4 mb-2">{{ this.title }}</h2>
<main>
    <h3 class="text text-2 pl-md-4 mb-2">{{ this.description }}</h3>
</main>
    <br>
      {% for item in this.components[-1] | series_items %}
									<div class="blog-entry ftco-animate d-md-flex">
                                    <div class="item">
                                    <div>
										<a href="{{item.url}}" >
                                        <img class="img img-2" src="{{ url_prefix + '/images/'}}{{item.thumbnail_image }}" alt="{{ item.thumbnail_alt }}" title="{{ item.thumbnail_tooltip }}">
                                        </a>
                                    </div>
                                    <div style="text-align:center; padding-top:5px">
                                        <button data-id="{{item.mystery_id}}" data-name="{{item.title}}" data-price="{{item.price}}" class="btn btn-info add-to-cart">Add To Cart</button>
                                    </div>
                                    </div>
										<div class="text text-2 pl-md-4">
				              <h3 class="mb-2"><a href="{{item.url}}">{{item.title}}</a></h3>
				              <div class="meta-wrap">
												<p class="meta">
				              		<span>Author: <a href="{{(item.author | author).url}}">{{(item.author | author).name}}</a></span>
				              		<span>Series: <a href="{{(item.series_id | series).url}}">{{(item.series_id | series).title}}</a></span>
                                    <span>Price: <span class="price">{{item.price | priceformat}}</span></span>
				              	</p>
			              	</div>
				              <p class="mb-4">{{item.description}}</p>
				              <p><a href="{{item.url}}" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
				            </div>
									</div>

      {% endfor %}
    </div>
    
  	    			<div class="col-md-4 sidebar ftco-animate bg-light pt-5">
	          
	            <div class="sidebar-box ftco-animate">
	            	<h3 class="sidebar-heading">Series</h3>
	              <ul class="categories">
                  {% for item in ('*' | series) %}
	                <li><a href="{{(item | series).url}}">{{(item | series).title}}</a></li>
                  {% endfor %}
	              </ul>
	            </div>

	            <div class="sidebar-box ftco-animate">
	            	<h3 class="sidebar-heading">Categories</h3>
	              <ul class="categories">
                  {% for item in ('*' | category) %}
	                <li><a href="{{(item | category).url}}">{{(item | category).title}}</a></li>
                  {% endfor %}
	              </ul>
	            </div>
	          </div><!-- END COL -->

  </div>
  
    {% include 'footer.html' %}
    
</div>

{% endblock %}

